In [74]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [109]:
passengers = pd.read_csv(r"C:\Data\Titanic\train.csv", sep=',', quotechar = '"')

In [76]:
type(passengers) #  what object type it is - dataframe

pandas.core.frame.DataFrame

In [77]:
passengers.dtypes #  shows the data types of each column

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [78]:
passengers.head() #  shows top 5 lines

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
passengers.head(20) #  to show top 20 - you can specify how many you want to see - the beginning of the data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [80]:
passengers.tail() #  shows the bottom of the data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [81]:
passengers.info() #  tell us the columns, number of values for each column, and the data type + summery of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [82]:
passengers.describe() #  shows only numeric columns

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [83]:
passengers.set_index('PassengerId', inplace=True) #  set passenger Id as the index instead of a seperate row

In [84]:
passengers.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [85]:
# passengers.set_index('PassengerId', append=True) #  creates an idex from initial index and passenger id - not really usefull in this case

In [86]:
passengers.Name

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
6                                       Moran, Mr. James
7                                McCarthy, Mr. Timothy J
8                         Palsson, Master. Gosta Leonard
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
13                        Saundercock, Mr. William Henry
14                           Andersson, Mr. Anders Johan
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
17                                  Rice, Master. Eugene
18                          Williams, Mr. Charles Eugene
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
21                                  Fynney, Mr. Joseph J
22                                 Beesley, Mr. Lawrence
23                           McGowan, Miss. Anna "Annie"
24                          Sloper, Mr. William Thompson
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                               Emir, Mr. Farred Chehab
28                        Fortune, Mr. Charles Alexander
29                         O'Dwyer, Miss. Ellen "Nellie"
30                                   Todoroff, Mr. Lalio
                             ...
862                          Giles, Mr. Frederick Edward
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
865                               Gill, Mr. John William
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
868                 Roebling, Mr. Washington Augustus II
869                          van Melkebeke, Mr. Philemon
870                      Johnson, Master. Harold Theodor
871                                    Balkic, Mr. Cerin
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873                             Carlsson, Mr. Frans Olof
874                          Vander Cruyssen, Mr. Victor
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
877                        Gustafsson, Mr. Alfred Ossian
878                                 Petroff, Mr. Nedelio
879                                   Laleff, Mr. Kristo
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
882                                   Markun, Mr. Johann
883                         Dahlberg, Miss. Gerda Ulrika
884                        Banfield, Mr. Frederick James
885                               Sutehall, Mr. Henry Jr
886                 Rice, Mrs. William (Margaret Norton)
887                                Montvila, Rev. Juozas
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                Behr, Mr. Karl Howell
891                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [87]:
passdesc = passengers[['Name','Sex']] #  double square brackets to see more than one column (list)

In [88]:
passengers.columns #  shows you the columns you have

Index([u'Survived', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [89]:
newcols = ['Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'] #changing column names

In [90]:
passengers.columns = newcols #  assigning the new column names to our data frame

In [91]:
passengers

,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [92]:
passengers.rename(columns={'Name': 'Fullname'}, inplace=True) #  use this when you only want to change one column name or two but not all

In [93]:
passengers

,Survived,Pclass,Fullname,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [94]:
passengers.sort_index(axis=1) #  only useful if you want to sort by the index

,Age,Cabin,Embarked,Fare,Fullname,Gender,Parch,Pclass,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
1,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",male,0,3,1,0,A/5 21171
2,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0,1,1,1,PC 17599
3,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",female,0,3,0,1,STON/O2. 3101282
4,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0,1,1,1,113803
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",male,0,3,0,0,373450
6,NaN,NaN,Q,8.4583,"Moran, Mr. James",male,0,3,0,0,330877
7,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",male,0,1,0,0,17463
8,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",male,1,3,3,0,349909
9,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,2,3,0,1,347742
10,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",female,0,2,1,1,237736
11,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",female,1,3,1,1,PP 9549
12,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",female,0,1,0,1,113783
13,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",male,0,3,0,0,A/5. 2151
14,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",male,5,3,1,0,347082
15,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",female,0,3,0,0,350406
16,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",female,0,2,0,1,248706
17,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",male,1,3,4,0,382652
18,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",male,0,2,0,1,244373
19,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,0,3,1,0,345763
20,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",female,0,3,0,1,2649
21,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",male,0,2,0,0,239865
22,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",male,0,2,0,1,248698
23,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",female,0,3,0,1,330923
24,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",male,0,1,0,1,113788
25,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",female,1,3,3,0,349909
26,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,5,3,1,1,347077
27,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",male,0,3,0,0,2631
28,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",male,2,1,3,0,19950
29,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",female,0,3,0,1,330959
30,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",male,0,3,0,0,349216
...,...,...,...,...,...,...,...,...,...,...,...
862,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",male,0,2,1,0,28134
863,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,0,1,0,1,17466
864,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",female,2,3,8,0,CA. 2343
865,24.0,NaN,S,13.0000,"Gill, Mr. John William",male,0,2,0,0,233866
866,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",female,0,2,0,1,236852
867,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",female,0,2,1,1,SC/PARIS 2149
868,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",male,0,1,0,0,PC 17590
869,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",male,0,3,0,0,345777
870,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",male,1,3,1,1,347742
871,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",male,0,3,0,0,349248
872,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,1,1,1,1,11751
873,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",male,0,1,0,0,695
874,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",male,0,3,0,0,345765
875,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,0,2,1,1,P/PP 3381
876,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",female,0,3,0,1,2667
877,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",male,0,3,0,0,7534
878,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",male,0,3,0,0,349212
879,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",male,0,3,0,0,349217
880,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,1,1,0,1,11767
881,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",female,1,2,0,1,230433
882,33.0,NaN,S,7.8958,"Markun, Mr. Johann",male,0,3,0,0,349257
883,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",female,0,3,0,0,7552
884,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",male,0,2,0,0,C.A./SOTON 34068
885,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",male,0,3,0,0,SOTON/OQ 392076
886,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",female,5,3,0,0,382652
887,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",male,0,2,0,0,211536
888,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",female,0,1,0,1,112053
889,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",female,2,3,1,0,W./C. 6607
890,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",male,0,1,0,1,111369
891,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",male,0,3,0,0,370376

In [107]:
passengers.reset_index(drop=True, inplace=True)

In [110]:
passengers.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [111]:
passengers.set_index('Name', inplace=True) #  set passenger Id as the index instead of a seperate row

In [112]:
passengers

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [115]:
passengers.sort_values(['Age', 'Pclass'], ascending = [True, True])

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Thomas, Master. Assad Alexander",804,1,3,male,0.42,0,1,2625,8.5167,NaN,C
"Hamalainen, Master. Viljo",756,1,2,male,0.67,1,1,250649,14.5000,NaN,S
"Baclini, Miss. Helene Barbara",470,1,3,female,0.75,2,1,2666,19.2583,NaN,C
"Baclini, Miss. Eugenie",645,1,3,female,0.75,2,1,2666,19.2583,NaN,C
"Caldwell, Master. Alden Gates",79,1,2,male,0.83,0,2,248738,29.0000,NaN,S
"Richards, Master. George Sibley",832,1,2,male,0.83,1,1,29106,18.7500,NaN,S
"Allison, Master. Hudson Trevor",306,1,1,male,0.92,1,2,113781,151.5500,C22 C26,S
"Becker, Master. Richard F",184,1,2,male,1.00,2,1,230136,39.0000,F4,S
"Mallet, Master. Andre",828,1,2,male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
"Panula, Master. Eino Viljami",165,0,3,male,1.00,4,1,3101295,39.6875,NaN,S
"Johnson, Miss. Eleanor Ileen",173,1,3,female,1.00,1,1,347742,11.1333,NaN,S
"Nakid, Miss. Maria (""Mary"")",382,1,3,female,1.00,0,2,2653,15.7417,NaN,C
"Goodwin, Master. Sidney Leonard",387,0,3,male,1.00,5,2,CA 2144,46.9000,NaN,S
"Dean, Master. Bertram Vere",789,1,3,male,1.00,1,2,C.A. 2315,20.5750,NaN,S
"Allison, Miss. Helen Loraine",298,0,1,female,2.00,1,2,113781,151.5500,C22 C26,S
"Navratil, Master. Edmond Roger",341,1,2,male,2.00,1,1,230080,26.0000,F2,S
"Quick, Miss. Phyllis May",531,1,2,female,2.00,1,1,26360,26.0000,NaN,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.00,3,1,349909,21.0750,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.00,4,1,382652,29.1250,NaN,Q
"Andersson, Miss. Ellis Anna Maria",120,0,3,female,2.00,4,2,347082,31.2750,NaN,S
"Strom, Miss. Telma Matilda",206,0,3,female,2.00,0,1,347054,10.4625,G6,S
"Hirvonen, Miss. Hildur E",480,1,3,female,2.00,0,1,3101298,12.2875,NaN,S
"Skoog, Miss. Margit Elizabeth",643,0,3,female,2.00,3,2,347088,27.9000,NaN,S
"Panula, Master. Urho Abraham",825,0,3,male,2.00,4,1,3101295,39.6875,NaN,S
"Laroche, Miss. Simonne Marie Anne Andree",44,1,2,female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
"Navratil, Master. Michel M",194,1,2,male,3.00,1,1,230080,26.0000,F2,S
"Richards, Master. William Rowe",408,1,2,male,3.00,1,1,29106,18.7500,NaN,S
"Asplund, Master. Edvin Rojj Felix",262,1,3,male,3.00,4,2,347077,31.3875,NaN,S
"Coutts, Master. William Loch ""William""",349,1,3,male,3.00,1,1,C.A. 37671,15.9000,NaN,S
"Palsson, Miss. Stina Viola",375,0,3,female,3.00,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"O'Leary, Miss. Hanora ""Norah""",654,1,3,female,NaN,0,0,330919,7.8292,NaN,Q
"Radeff, Mr. Alexander",657,0,3,male,NaN,0,0,349223,7.8958,NaN,S
"Rommetvedt, Mr. Knud Paust",668,0,3,male,NaN,0,0,312993,7.7750,NaN,S
"Peters, Miss. Katie",681,0,3,female,NaN,0,0,330935,8.1375,NaN,Q
"Lam, Mr. Ali",693,1,3,male,NaN,0,0,1601,56.4958,NaN,S
"Mullens, Miss. Katherine ""Katie""",698,1,3,female,NaN,0,0,35852,7.7333,NaN,Q
"Moubarek, Master. Halim Gonios (""William George"")",710,1,3,male,NaN,1,1,2661,15.2458,NaN,C
"McEvoy, Mr. Michael",719,0,3,male,NaN,0,0,36568,15.5000,NaN,Q
"Mannion, Miss. Margareth",728,1,3,female,NaN,0,0,36866,7.7375,NaN,Q
"Ivanoff, Mr. Kanio",739,0,3,male,NaN,0,0,349201,7.8958,NaN,S
"Nankoff, Mr. Minko",740,0,3,male,NaN,0,0,349218,7.8958,NaN,S
"Garfirth, Mr. John",761,0,3,male,NaN,0,0,358585,14.5000,NaN,S
"Moran, Mr. Daniel J",769,0,3,male,NaN,1,0,371110,24.1500,NaN,Q
"Elias, Mr. Dibo",774,0,3,male,NaN,0,0,2674,7.2250,NaN,C
"Tobin, Mr. Roger",777,0,3,male,NaN,0,0,383121,7.7500,F38,Q
"Kilgannon, Mr. Thomas J",779,0,3,male,NaN,0,0,36865,7.7375,NaN,Q
"Johnston, Mr. Andrew G",784,0,3,male,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Keane, Mr. Andrew ""Andy""",791,0,3,male,NaN,0,0,12460,7.7500,NaN,Q
"Sage, Miss. Stella Anna",793,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Flynn, Mr. John",826,0,3,male,NaN,0,0,368323,6.9500,NaN,Q
"Lam, Mr. Len",827,0,3,male,NaN,0,0,1601,56.4958,NaN,S
"McCormack, Mr. Thomas Joseph",829,1,3,male,NaN,0,0,367228,7.7500,NaN,Q
"Saad, Mr. Amin",833,0,3,male,NaN,0,0,2671,7.2292,NaN,C
"Sirota, Mr. Maurice",838,0,3,male,NaN,0,0,392092,8.0500,NaN,S
"Sage, Mr. Douglas Bullen",847,0,3,male,NaN,8,2,CA. 2343,69.5500,NaN,S
"Razi, Mr. Raihed",860,0,3,male,NaN,0,0,2629,7.2292,NaN,C
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [117]:
passengers[(passengers.Sex == 'female')] #  to filter the results by e.g. female passengers

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Spencer, Mrs. William Augustus (Marie Eugenie)",32,1,1,female,NaN,1,0,PC 17569,146.5208,B78,C
"Glynn, Miss. Mary Agatha",33,1,3,female,NaN,0,0,335677,7.7500,NaN,Q
"Vander Planke, Miss. Augusta Maria",39,0,3,female,18.0,2,0,345764,18.0000,NaN,S
"Nicola-Yarred, Miss. Jamila",40,1,3,female,14.0,1,0,2651,11.2417,NaN,C
"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",41,0,3,female,40.0,1,0,7546,9.4750,NaN,S
"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",42,0,2,female,27.0,1,0,11668,21.0000,NaN,S
"Laroche, Miss. Simonne Marie Anne Andree",44,1,2,female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
"Devaney, Miss. Margaret Delia",45,1,3,female,19.0,0,0,330958,7.8792,NaN,Q
"O'Driscoll, Miss. Bridget",48,1,3,female,NaN,0,0,14311,7.7500,NaN,Q
"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",50,0,3,female,18.0,1,0,349237,17.8000,NaN,S
"Harper, Mrs. Henry Sleeper (Myna Haxtun)",53,1,1,female,49.0,1,0,PC 17572,76.7292,D33,C
"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",54,1,2,female,29.0,1,0,2926,26.0000,NaN,S
"Rugg, Miss. Emily",57,1,2,female,21.0,0,0,C.A. 31026,10.5000,NaN,S
"West, Miss. Constance Mirium",59,1,2,female,5.0,1,2,C.A. 34651,27.7500,NaN,S
"Icard, Miss. Amelie",62,1,1,female,38.0,0,0,113572,80.0000,B28,NaN
...,...,...,...,...,...,...,...,...,...,...,...
"Pettersson, Miss. Ellen Natalia",808,0,3,female,18.0,0,0,347087,7.7750,NaN,S
"Chambers, Mrs. Norman Campbell (Bertha Griggs)",810,1,1,female,33.0,1,0,113806,53.1000,E8,S
"Andersson, Miss. Ebba Iris Alfrida",814,0,3,female,6.0,4,2,347082,31.2750,NaN,S
"Heininen, Miss. Wendla Maria",817,0,3,female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S
"Hays, Mrs. Charles Melville (Clara Jennings Gregg)",821,1,1,female,52.0,1,1,12749,93.5000,B69,S
"Moor, Mrs. (Beila)",824,1,3,female,27.0,0,1,392096,12.4750,E121,S
"Stone, Mrs. George Nelson (Martha Evelyn)",830,1,1,female,62.0,0,0,113572,80.0000,B28,NaN
"Yasbeck, Mrs. Antoni (Selini Alexander)",831,1,3,female,15.0,1,0,2659,14.4542,NaN,C
"Compton, Miss. Sara Rebecca",836,1,1,female,39.0,1,1,PC 17756,83.1583,E49,C
"Serepeca, Miss. Augusta",843,1,1,female,30.0,0,0,113798,31.0000,NaN,C
"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",850,1,1,female,NaN,1,0,17453,89.1042,C92,C
"Boulos, Miss. Nourelain",853,0,3,female,9.0,1,1,2678,15.2458,NaN,C
"Lines, Miss. Mary Conover",854,1,1,female,16.0,0,1,PC 17592,39.4000,D28,S
"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",855,0,2,female,44.0,1,0,244252,26.0000,NaN,S
"Aks, Mrs. Sam (Leah Rosen)",856,1,3,female,18.0,0,1,392091,9.3500,NaN,S
"Wick, Mrs. George Dennick (Mary Hitchcock)",857,1,1,female,45.0,1,1,36928,164.8667,NaN,S
"Baclini, Mrs. Solomon (Latifa Qurban)",859,1,3,female,24.0,0,3,2666,19.2583,NaN,C
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [118]:
passengers[(passengers.Sex == 'female') & (passengers.Pclass == 1)] #  | is an OR, & is an AND

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Spencer, Mrs. William Augustus (Marie Eugenie)",32,1,1,female,NaN,1,0,PC 17569,146.5208,B78,C
"Harper, Mrs. Henry Sleeper (Myna Haxtun)",53,1,1,female,49.0,1,0,PC 17572,76.7292,D33,C
"Icard, Miss. Amelie",62,1,1,female,38.0,0,0,113572,80.0000,B28,NaN
"Fortune, Miss. Mabel Helen",89,1,1,female,23.0,3,2,19950,263.0000,C23 C25 C27,S
"Newsom, Miss. Helen Monypeny",137,1,1,female,19.0,0,2,11752,26.2833,D47,S
"Pears, Mrs. Thomas (Edith Wearne)",152,1,1,female,22.0,1,0,113776,66.6000,C2,S
"Chibnall, Mrs. (Edith Martha Bowerman)",167,1,1,female,NaN,0,1,113505,55.0000,E33,S
"Isham, Miss. Ann Elizabeth",178,0,1,female,50.0,0,0,PC 17595,28.7125,C49,C
"Brown, Mrs. James Joseph (Margaret Tobin)",195,1,1,female,44.0,0,0,PC 17610,27.7208,B4,C
"Lurette, Miss. Elise",196,1,1,female,58.0,0,0,PC 17569,146.5208,B80,C
"Newell, Miss. Madeleine",216,1,1,female,31.0,1,0,35273,113.2750,D36,C
"Bazzani, Miss. Albina",219,1,1,female,32.0,0,0,11813,76.2917,D15,C
"Harris, Mrs. Henry Birkhardt (Irene Wallach)",231,1,1,female,35.0,1,0,36973,83.4750,C83,S
"Thorne, Mrs. Gertrude Maybelle",257,1,1,female,NaN,0,0,PC 17585,79.2000,NaN,C
"Cherry, Miss. Gladys",258,1,1,female,30.0,0,0,110152,86.5000,B77,S
"Ward, Miss. Anna",259,1,1,female,35.0,0,0,PC 17755,512.3292,NaN,C
"Graham, Mrs. William Thompson (Edith Junkins)",269,1,1,female,58.0,0,1,PC 17582,153.4625,C125,S
"Bissette, Miss. Amelia",270,1,1,female,35.0,0,0,PC 17760,135.6333,C99,S
"Andrews, Miss. Kornelia Theodosia",276,1,1,female,63.0,1,0,13502,77.9583,D7,S
"Barber, Miss. Ellen ""Nellie""",291,1,1,female,26.0,0,0,19877,78.8500,NaN,S
"Bishop, Mrs. Dickinson H (Helen Walton)",292,1,1,female,19.0,1,0,11967,91.0792,B49,C
"Allison, Miss. Helen Loraine",298,0,1,female,2.0,1,2,113781,151.5500,C22 C26,S
"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",300,1,1,female,50.0,0,1,PC 17558,247.5208,B58 B60,C
"Fleming, Miss. Margaret",307,1,1,female,NaN,0,0,17421,110.8833,NaN,C
"Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)",308,1,1,female,17.0,1,0,PC 17758,108.9000,C65,C
"Francatelli, Miss. Laura Mabel",310,1,1,female,30.0,0,0,PC 17485,56.9292,E36,C
"Hays, Miss. Margaret Bechstein",311,1,1,female,24.0,0,0,11767,83.1583,C54,C
...,...,...,...,...,...,...,...,...,...,...,...
"Stephenson, Mrs. Walter Bertram (Martha Eustis)",592,1,1,female,52.0,1,0,36947,78.2667,D20,C
"Shutes, Miss. Elizabeth W",610,1,1,female,40.0,0,0,PC 17582,153.4625,C125,S
"Longley, Miss. Gretchen Fiske",628,1,1,female,21.0,0,0,13502,77.9583,D9,S
"Sagesser, Mlle. Emma",642,1,1,female,24.0,0,0,PC 17477,69.3000,B35,C
"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",670,1,1,female,NaN,1,0,19996,52.0000,C126,S
"Madill, Miss. Georgette Alexandra",690,1,1,female,15.0,0,1,24160,211.3375,B5,S
"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",701,1,1,female,18.0,1,0,PC 17757,227.5250,C62 C64,C
"Cleaver, Miss. Alice",709,1,1,female,22.0,0,0,113781,151.5500,NaN,S
"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",711,1,1,female,24.0,0,0,PC 17482,49.5042,C90,C
"Endres, Miss. Caroline Louise",717,1,1,female,38.0,0,0,PC 17757,227.5250,C45,C
"Allen, Miss. Elisabeth Walton",731,1,1,female,29.0,0,0,24160,211.3375,B5,S
"Ryerson, Miss. Susan Parker ""Suzette""",743,1,1,female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
"Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)",760,1,1,female,33.0,0,0,110152,86.5000,B77,S
"Carter, Mrs. William Ernest (Lucile Polk)",764,1,1,female,36.0,1,2,113760,120.0000,B96 B98,S
"Hogeboom, Mrs. John C (Anna Andrews)",766,1,1,female,51.0,1,0,13502,77.9583,D11,S
"Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)",780,1,1,female,43.0,0,1,24160,211.3375,B3,S
"Dick, Mrs. Albert Adrian (Vera Gillespie)",782,1,1,female,17.0,1,0,17474,57.0000,B20,S
"Leader, Dr. Alice (Farnham)",797,1,1,female,49.0,0,0,17465,25.9292,D17,S
"Chambers, Mrs. Norman Campbell (Bertha Griggs)",810,1,1,female,33.0,1,0,113806,53.1000,E8,S
"Hays, Mrs. Charles Melville (Clara Jennings Gregg)",821,1,1,female,52.0,1,1,12749,93.5000,B69,S
"Stone, Mrs. George Nelson (Martha Evelyn)",830,1,1,female,62.0,0,0,113572,80.0000,B28,NaN
"Compton, Miss. Sara Rebecca",836,1,1,female,39.0,1,1,PC 17756,83.1583,E49,C
"Serepeca, Miss. Augusta",843,1,1,female,30.0,0,0,113798,31.0000,NaN,C
"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",850,1,1,female,NaN,1,0,17453,89.1042,C92,C
"Lines, Miss. Mary Conover",854,1,1,female,16.0,0,1,PC 17592,39.4000,D28,S
"Wick, Mrs. George Dennick (Mary Hitchcock)",857,1,1,female,45.0,1,1,36928,164.8667,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S

In [124]:
passengers[(passengers.Sex == 'female') & (passengers.Pclass.isin([1,2]) == 0)] #  | is an OR, & is an AND

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Glynn, Miss. Mary Agatha",33,1,3,female,NaN,0,0,335677,7.7500,NaN,Q
"Vander Planke, Miss. Augusta Maria",39,0,3,female,18.0,2,0,345764,18.0000,NaN,S
"Nicola-Yarred, Miss. Jamila",40,1,3,female,14.0,1,0,2651,11.2417,NaN,C
"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",41,0,3,female,40.0,1,0,7546,9.4750,NaN,S
"Devaney, Miss. Margaret Delia",45,1,3,female,19.0,0,0,330958,7.8792,NaN,Q
"O'Driscoll, Miss. Bridget",48,1,3,female,NaN,0,0,14311,7.7500,NaN,Q
"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",50,0,3,female,18.0,1,0,349237,17.8000,NaN,S
"Andersson, Miss. Erna Alexandra",69,1,3,female,17.0,4,2,3101281,7.9250,NaN,S
"Goodwin, Miss. Lillian Amy",72,0,3,female,16.0,5,2,CA 2144,46.9000,NaN,S
"Dowdell, Miss. Elizabeth",80,1,3,female,30.0,0,0,364516,12.4750,NaN,S
"McDermott, Miss. Brigdet Delia",83,1,3,female,NaN,0,0,330932,7.7875,NaN,Q
"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",86,1,3,female,33.0,3,0,3101278,15.8500,NaN,S
"Petranec, Miss. Matilda",101,0,3,female,28.0,0,0,349245,7.8958,NaN,S
"Salkjelsvik, Miss. Anna Kristine",107,1,3,female,21.0,0,0,343120,7.6500,NaN,S
"Moran, Miss. Bertha",110,1,3,female,NaN,1,0,371110,24.1500,NaN,Q
"Zabour, Miss. Hileni",112,0,3,female,14.5,1,0,2665,14.4542,NaN,C
"Jussila, Miss. Katriina",114,0,3,female,20.0,1,0,4136,9.8250,NaN,S
"Attalah, Miss. Malake",115,0,3,female,17.0,0,0,2627,14.4583,NaN,C
"Andersson, Miss. Ellis Anna Maria",120,0,3,female,2.0,4,2,347082,31.2750,NaN,S
"Peter, Miss. Anna",129,1,3,female,NaN,1,1,2668,22.3583,F E69,C
...,...,...,...,...,...,...,...,...,...,...,...
"Bourke, Mrs. John (Catherine)",658,0,3,female,32.0,1,1,364849,15.5000,NaN,Q
"Turja, Miss. Anna Sofia",678,1,3,female,18.0,0,0,4138,9.8417,NaN,S
"Goodwin, Mrs. Frederick (Augusta Tyler)",679,0,3,female,43.0,1,6,CA 2144,46.9000,NaN,S
"Peters, Miss. Katie",681,0,3,female,NaN,0,0,330935,8.1375,NaN,Q
"Karun, Miss. Manca",692,1,3,female,4.0,0,1,349256,13.4167,NaN,C
"Mullens, Miss. Katherine ""Katie""",698,1,3,female,NaN,0,0,35852,7.7333,NaN,Q
"Barbara, Miss. Saiide",703,0,3,female,18.0,0,1,2691,14.4542,NaN,C
"Mannion, Miss. Margareth",728,1,3,female,NaN,0,0,36866,7.7375,NaN,Q
"Ilmakangas, Miss. Pieta Sofia",730,0,3,female,25.0,1,0,STON/O2. 3101271,7.9250,NaN,S
"Ford, Mrs. Edward (Margaret Ann Watson)",737,0,3,female,48.0,1,3,W./C. 6608,34.3750,NaN,S
"Mangan, Miss. Mary",768,0,3,female,30.5,0,0,364850,7.7500,NaN,Q
"Emanuel, Miss. Virginia Ethel",778,1,3,female,5.0,0,0,364516,12.4750,NaN,S
"Ayoub, Miss. Banoura",781,1,3,female,13.0,0,0,2687,7.2292,NaN,C
"Sjoblom, Miss. Anna Sofia",787,1,3,female,18.0,0,0,3101265,7.4958,NaN,S
"Sage, Miss. Stella Anna",793,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Osman, Mrs. Mara",798,1,3,female,31.0,0,0,349244,8.6833,NaN,S
"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)",800,0,3,female,30.0,1,1,345773,24.1500,NaN,S
"Pettersson, Miss. Ellen Natalia",808,0,3,female,18.0,0,0,347087,7.7750,NaN,S
"Andersson, Miss. Ebba Iris Alfrida",814,0,3,female,6.0,4,2,347082,31.2750,NaN,S
"Heininen, Miss. Wendla Maria",817,0,3,female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S
"Moor, Mrs. (Beila)",824,1,3,female,27.0,0,1,392096,12.4750,E121,S
"Yasbeck, Mrs. Antoni (Selini Alexander)",831,1,3,female,15.0,1,0,2659,14.4542,NaN,C
"Boulos, Miss. Nourelain",853,0,3,female,9.0,1,1,2678,15.2458,NaN,C
"Aks, Mrs. Sam (Leah Rosen)",856,1,3,female,18.0,0,1,392091,9.3500,NaN,S
"Baclini, Mrs. Solomon (Latifa Qurban)",859,1,3,female,24.0,0,3,2666,19.2583,NaN,C
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [122]:
passengers.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Sex', u'Age', u'SibSp',
       u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [125]:
passengers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, Braund, Mr. Owen Harris to Dooley, Mr. Patrick
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.5+ KB

In [126]:
passengers.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [128]:
passengers['Age'].fillna(value=passengers['Age'].mean(), inplace=True)  #  filling the missing ages with age mean

In [131]:
passengers['Age'] = passengers['Age'].astype(int)  #  changing the age from a float to int

In [132]:
passengers

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,29,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58,0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39,1,5,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55,0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,29,0,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,29,0,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34,0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15,0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28,0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38,1,5,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,29,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19,3,2,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,29,0,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,29,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21,1,0,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,29,8,2,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24,0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,29,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26,0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47,0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15,0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,29,0,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25,0,1,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33,0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22,0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39,0,5,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,29,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32,0,0,370376,7.7500,NaN,Q

In [136]:
bins = [0, 9, 19, 29, 39, 49, 59, 69, 79, 89, 99]

In [139]:
binlabels = ['Child', 'Teen', 'Twenties', 'Thirties', 'Forties', 'Fifties', 'Sixties', 'Seventies', 'Eighties', 'Nighties']

In [140]:
agebins = pd.cut(passengers.Age, bins, labels = binlabels)

In [141]:
passengers['AgeBinDescription'] = agebins

In [153]:
passengers

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeBinDescription
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22,1,0,A/5 21171,7.2500,NaN,S,Twenties
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38,1,0,PC 17599,71.2833,C85,C,Thirties
"Heikkinen, Miss. Laina",3,1,3,female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,Twenties
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35,1,0,113803,53.1000,C123,S,Thirties
"Allen, Mr. William Henry",5,0,3,male,35,0,0,373450,8.0500,NaN,S,Thirties
"Moran, Mr. James",6,0,3,male,29,0,0,330877,8.4583,NaN,Q,Twenties
"McCarthy, Mr. Timothy J",7,0,1,male,54,0,0,17463,51.8625,E46,S,Fifties
"Palsson, Master. Gosta Leonard",8,0,3,male,2,3,1,349909,21.0750,NaN,S,Child
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27,0,2,347742,11.1333,NaN,S,Twenties
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14,1,0,237736,30.0708,NaN,C,Teen
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4,1,1,PP 9549,16.7000,G6,S,Child
"Bonnell, Miss. Elizabeth",12,1,1,female,58,0,0,113783,26.5500,C103,S,Fifties
"Saundercock, Mr. William Henry",13,0,3,male,20,0,0,A/5. 2151,8.0500,NaN,S,Twenties
"Andersson, Mr. Anders Johan",14,0,3,male,39,1,5,347082,31.2750,NaN,S,Thirties
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14,0,0,350406,7.8542,NaN,S,Teen
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55,0,0,248706,16.0000,NaN,S,Fifties
"Rice, Master. Eugene",17,0,3,male,2,4,1,382652,29.1250,NaN,Q,Child
"Williams, Mr. Charles Eugene",18,1,2,male,29,0,0,244373,13.0000,NaN,S,Twenties
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31,1,0,345763,18.0000,NaN,S,Thirties
"Masselmani, Mrs. Fatima",20,1,3,female,29,0,0,2649,7.2250,NaN,C,Twenties
"Fynney, Mr. Joseph J",21,0,2,male,35,0,0,239865,26.0000,NaN,S,Thirties
"Beesley, Mr. Lawrence",22,1,2,male,34,0,0,248698,13.0000,D56,S,Thirties
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15,0,0,330923,8.0292,NaN,Q,Teen
"Sloper, Mr. William Thompson",24,1,1,male,28,0,0,113788,35.5000,A6,S,Twenties
"Palsson, Miss. Torborg Danira",25,0,3,female,8,3,1,349909,21.0750,NaN,S,Child
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38,1,5,347077,31.3875,NaN,S,Thirties
"Emir, Mr. Farred Chehab",27,0,3,male,29,0,0,2631,7.2250,NaN,C,Twenties
"Fortune, Mr. Charles Alexander",28,0,1,male,19,3,2,19950,263.0000,C23 C25 C27,S,Teen
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,29,0,0,330959,7.8792,NaN,Q,Twenties
"Todoroff, Mr. Lalio",30,0,3,male,29,0,0,349216,7.8958,NaN,S,Twenties
...,...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21,1,0,28134,11.5000,NaN,S,Twenties
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48,0,0,17466,25.9292,D17,S,Forties
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,29,8,2,CA. 2343,69.5500,NaN,S,Twenties
"Gill, Mr. John William",865,0,2,male,24,0,0,233866,13.0000,NaN,S,Twenties
"Bystrom, Mrs. (Karolina)",866,1,2,female,42,0,0,236852,13.0000,NaN,S,Forties
"Duran y More, Miss. Asuncion",867,1,2,female,27,1,0,SC/PARIS 2149,13.8583,NaN,C,Twenties
"Roebling, Mr. Washington Augustus II",868,0,1,male,31,0,0,PC 17590,50.4958,A24,S,Thirties
"van Melkebeke, Mr. Philemon",869,0,3,male,29,0,0,345777,9.5000,NaN,S,Twenties
"Johnson, Master. Harold Theodor",870,1,3,male,4,1,1,347742,11.1333,NaN,S,Child
"Balkic, Mr. Cerin",871,0,3,male,26,0,0,349248,7.8958,NaN,S,Twenties
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47,1,1,11751,52.5542,D35,S,Forties
"Carlsson, Mr. Frans Olof",873,0,1,male,33,0,0,695,5.0000,B51 B53 B55,S,Thirties
"Vander Cruyssen, Mr. Victor",874,0,3,male,47,0,0,345765,9.0000,NaN,S,Forties
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28,1,0,P/PP 3381,24.0000,NaN,C,Twenties
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15,0,0,2667,7.2250,NaN,C,Teen
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20,0,0,7534,9.8458,NaN,S,Twenties
"Petroff, Mr. Nedelio",878,0,3,male,19,0,0,349212,7.8958,NaN,S,Teen
"Laleff, Mr. Kristo",879,0,3,male,29,0,0,349217,7.8958,NaN,S,Twenties
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56,0,1,11767,83.1583,C50,C,Fifties
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25,0,1,230433,26.0000,NaN,S,Twenties
"Markun, Mr. Johann",882,0,3,male,33,0,0,349257,7.8958,NaN,S,Thirties
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22,0,0,7552,10.5167,NaN,S,Twenties
"Banfield, Mr. Frederick James",884,0,2,male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S,Twenties
"Sutehall, Mr. Henry Jr",885,0,3,male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S,Twenties
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39,0,5,382652,29.1250,NaN,Q,Thirties
"Montvila, Rev. Juozas",887,0,2,male,27,0,0,211536,13.0000,NaN,S,Twenties
"Graham, Miss. Margaret Edith",888,1,1,female,19,0,0,112053,30.0000,B42,S,Teen
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,29,1,2,W./C. 6607,23.4500,NaN,S,Twenties
"Behr, Mr. Karl Howell",890,1,1,male,26,0,0,111369,30.0000,C148,C,Twenties
"Dooley, Mr. Patrick",891,0,3,male,32,0,0,370376,7.7500,NaN,Q,Thirties

In [144]:
passengers.groupby('Sex').mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,431.028662,0.742038,2.159236,28.089172,0.694268,0.649682,44.479818
male,454.147314,0.188908,2.389948,30.336222,0.429809,0.235702,25.523893

In [150]:
avgbygender = passengers.groupby('Sex')[['Survived', 'Age', 'Sex']].mean().reset_index()

In [151]:
avgbygender

      Sex  Survived        Age
0  female  0.742038  28.089172
1    male  0.188908  30.336222

In [154]:
passengers.merge(avgbygender, how='inner', on='Sex')[['Name', 'Sex', 'Survived_x', 'Survived_y']]

KeyError: "['Name'] not in index"