In [2]:
import pytrends
from pytrends.request import TrendReq
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import json

In [3]:
def retrieve_google_trends(start_date='2017-04-18', end_date='', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['theresa may', 'jeremy corbyn', 'tim farron', 'Caroline Lucas+Jonathan Bartley'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [4]:
data = retrieve_google_trends()

In [5]:
data

,theresa may,jeremy corbyn,tim farron,Caroline Lucas+Jonathan Bartley
date,,,,
2017-04-18,100,13,8,1
2017-04-19,38,10,10,0
2017-04-20,17,15,4,0
2017-04-21,12,9,2,0
2017-04-22,11,8,1,0
2017-04-23,10,12,3,0
2017-04-24,8,8,3,0
2017-04-25,8,5,4,0
2017-04-26,10,7,3,0
2017-04-27,8,9,2,0
2017-04-28,7,5,1,0
2017-04-29,8,6,1,0
2017-04-30,18,5,2,0
2017-05-01,17,4,1,0
2017-05-02,16,4,1,0
2017-05-03,20,4,3,0
2017-05-04,14,4,1,0
2017-05-05,11,7,1,0
2017-05-06,9,6,1,0
2017-05-07,8,4,1,0
2017-05-08,9,6,2,0
2017-05-09,22,13,1,0
2017-05-10,15,8,1,0
2017-05-11,10,9,1,0
2017-05-12,13,12,1,0
2017-05-13,9,7,0,0
2017-05-14,8,8,1,0
2017-05-15,18,13,1,0
2017-05-16,10,17,1,0
2017-05-17,9,8,3,0
2017-05-18,15,8,3,3
2017-05-19,13,9,1,1
2017-05-20,13,11,1,0
2017-05-21,17,17,1,0

In [6]:
clsld = DataFrame(data)

In [9]:
clsld.columns = ['Theresa May', 'Jeremy Corbyn', 'Tim Farron', 'Caroline Lucas and Jonathan Bartley']

In [10]:
clsld

,Theresa May,Jeremy Corbyn,Tim Farron,Caroline Lucas and Jonathan Bartley
date,,,,
2017-04-18,100,13,8,1
2017-04-19,38,10,10,0
2017-04-20,17,15,4,0
2017-04-21,12,9,2,0
2017-04-22,11,8,1,0
2017-04-23,10,12,3,0
2017-04-24,8,8,3,0
2017-04-25,8,5,4,0
2017-04-26,10,7,3,0
2017-04-27,8,9,2,0
2017-04-28,7,5,1,0
2017-04-29,8,6,1,0
2017-04-30,18,5,2,0
2017-05-01,17,4,1,0
2017-05-02,16,4,1,0
2017-05-03,20,4,3,0
2017-05-04,14,4,1,0
2017-05-05,11,7,1,0
2017-05-06,9,6,1,0
2017-05-07,8,4,1,0
2017-05-08,9,6,2,0
2017-05-09,22,13,1,0
2017-05-10,15,8,1,0
2017-05-11,10,9,1,0
2017-05-12,13,12,1,0
2017-05-13,9,7,0,0
2017-05-14,8,8,1,0
2017-05-15,18,13,1,0
2017-05-16,10,17,1,0
2017-05-17,9,8,3,0
2017-05-18,15,8,3,3
2017-05-19,13,9,1,1
2017-05-20,13,11,1,0
2017-05-21,17,17,1,0

In [11]:
def retrieve_google_trends(start_date='2017-04-18', end_date='', geo='UK'):
    if end_date == '':
        import datetime as dt
        end_date = str(dt.datetime.today())[:10]
    period = start_date + ' ' + end_date
    pytrend = TrendReq('gmail', 'password', custom_useragent='My Pytrends Script')
    pytrend.build_payload(kw_list=['theresa may', 'jeremy corbyn', 'nicola sturgeon','Paul Nuttall'] ,timeframe=period)
    # 'labour party', 'jeremy corbyn', 'nicola sturgeon', 'scottish national party', 'snp', 'tim farron', 'liberal democrats', 'lib dems', 'lib dem', 'Caroline Lucas', 'Jonathan Bartley', 'Green Party', 'Paul Nuttall', 'UK Independence Party', 'UKIP'
    return pytrend.interest_over_time()

In [12]:
data1 = retrieve_google_trends()

In [13]:
data1

            theresa may  jeremy corbyn  nicola sturgeon  Paul Nuttall
date
2017-04-18          100             13                5             0
2017-04-19           38             10                4             0
2017-04-20           17             15                3             0
2017-04-21           12              9                2             0
2017-04-22           11              8                2             0
2017-04-23           10             12                1             1
2017-04-24            8              8                2             2
2017-04-25            8              5                2             0
2017-04-26           10              7                1             0
2017-04-27            8              9                1             0
2017-04-28            7              5                1             1
2017-04-29            8              6                1             3
2017-04-30           18              5                1             0
2017-05-01           17              4                1             0
2017-05-02           16              4                1             0
2017-05-03           20              4                1             0
2017-05-04           14              4                1             0
2017-05-05           11              7                2             1
2017-05-06            9              6                2             0
2017-05-07            8              4                1             0
2017-05-08            9              6                1             0
2017-05-09           22             13                1             0
2017-05-10           15              8                1             0
2017-05-11           10              9                1             1
2017-05-12           13             12                1             0
2017-05-13            9              7                1             0
2017-05-14            8              8                2             0
2017-05-15           18             13                2             0
2017-05-16           10             17                1             0
2017-05-17            9              8                2             0
2017-05-18           15              8                2             2
2017-05-19           13              9                2             1
2017-05-20           13             11                1             0
2017-05-21           17             17                2             0

In [14]:
clsu = DataFrame(data1)

In [15]:
clsu

            theresa may  jeremy corbyn  nicola sturgeon  Paul Nuttall
date
2017-04-18          100             13                5             0
2017-04-19           38             10                4             0
2017-04-20           17             15                3             0
2017-04-21           12              9                2             0
2017-04-22           11              8                2             0
2017-04-23           10             12                1             1
2017-04-24            8              8                2             2
2017-04-25            8              5                2             0
2017-04-26           10              7                1             0
2017-04-27            8              9                1             0
2017-04-28            7              5                1             1
2017-04-29            8              6                1             3
2017-04-30           18              5                1             0
2017-05-01           17              4                1             0
2017-05-02           16              4                1             0
2017-05-03           20              4                1             0
2017-05-04           14              4                1             0
2017-05-05           11              7                2             1
2017-05-06            9              6                2             0
2017-05-07            8              4                1             0
2017-05-08            9              6                1             0
2017-05-09           22             13                1             0
2017-05-10           15              8                1             0
2017-05-11           10              9                1             1
2017-05-12           13             12                1             0
2017-05-13            9              7                1             0
2017-05-14            8              8                2             0
2017-05-15           18             13                2             0
2017-05-16           10             17                1             0
2017-05-17            9              8                2             0
2017-05-18           15              8                2             2
2017-05-19           13              9                2             1
2017-05-20           13             11                1             0
2017-05-21           17             17                2             0

In [16]:
clsu.columns = ['Theresa May 1', 'Jeremy Corbyn 1', 'Nicola Sturgeon', 'Paul Nuttall']

In [17]:
clsu

            Theresa May 1  Jeremy Corbyn 1  Nicola Sturgeon  Paul Nuttall
date
2017-04-18            100               13                5             0
2017-04-19             38               10                4             0
2017-04-20             17               15                3             0
2017-04-21             12                9                2             0
2017-04-22             11                8                2             0
2017-04-23             10               12                1             1
2017-04-24              8                8                2             2
2017-04-25              8                5                2             0
2017-04-26             10                7                1             0
2017-04-27              8                9                1             0
2017-04-28              7                5                1             1
2017-04-29              8                6                1             3
2017-04-30             18                5                1             0
2017-05-01             17                4                1             0
2017-05-02             16                4                1             0
2017-05-03             20                4                1             0
2017-05-04             14                4                1             0
2017-05-05             11                7                2             1
2017-05-06              9                6                2             0
2017-05-07              8                4                1             0
2017-05-08              9                6                1             0
2017-05-09             22               13                1             0
2017-05-10             15                8                1             0
2017-05-11             10                9                1             1
2017-05-12             13               12                1             0
2017-05-13              9                7                1             0
2017-05-14              8                8                2             0
2017-05-15             18               13                2             0
2017-05-16             10               17                1             0
2017-05-17              9                8                2             0
2017-05-18             15                8                2             2
2017-05-19             13                9                2             1
2017-05-20             13               11                1             0
2017-05-21             17               17                2             0

In [18]:
frames = [clsld, clsu]
result = pd.concat(frames, axis=1)

In [19]:
result

,Theresa May,Jeremy Corbyn,Tim Farron,Caroline Lucas and Jonathan Bartley,Theresa May 1,Jeremy Corbyn 1,Nicola Sturgeon,Paul Nuttall
date,,,,,,,,
2017-04-18,100,13,8,1,100,13,5,0
2017-04-19,38,10,10,0,38,10,4,0
2017-04-20,17,15,4,0,17,15,3,0
2017-04-21,12,9,2,0,12,9,2,0
2017-04-22,11,8,1,0,11,8,2,0
2017-04-23,10,12,3,0,10,12,1,1
2017-04-24,8,8,3,0,8,8,2,2
2017-04-25,8,5,4,0,8,5,2,0
2017-04-26,10,7,3,0,10,7,1,0
2017-04-27,8,9,2,0,8,9,1,0
2017-04-28,7,5,1,0,7,5,1,1
2017-04-29,8,6,1,0,8,6,1,3
2017-04-30,18,5,2,0,18,5,1,0
2017-05-01,17,4,1,0,17,4,1,0
2017-05-02,16,4,1,0,16,4,1,0
2017-05-03,20,4,3,0,20,4,1,0
2017-05-04,14,4,1,0,14,4,1,0
2017-05-05,11,7,1,0,11,7,2,1
2017-05-06,9,6,1,0,9,6,2,0
2017-05-07,8,4,1,0,8,4,1,0
2017-05-08,9,6,2,0,9,6,1,0
2017-05-09,22,13,1,0,22,13,1,0
2017-05-10,15,8,1,0,15,8,1,0
2017-05-11,10,9,1,0,10,9,1,1
2017-05-12,13,12,1,0,13,12,1,0
2017-05-13,9,7,0,0,9,7,1,0
2017-05-14,8,8,1,0,8,8,2,0
2017-05-15,18,13,1,0,18,13,2,0
2017-05-16,10,17,1,0,10,17,1,0
2017-05-17,9,8,3,0,9,8,2,0
2017-05-18,15,8,3,3,15,8,2,2
2017-05-19,13,9,1,1,13,9,2,1
2017-05-20,13,11,1,0,13,11,1,0
2017-05-21,17,17,1,0,17,17,2,0

In [20]:
parties = result.drop(['Theresa May 1', 'Jeremy Corbyn 1'], axis=1)

In [29]:
parties = parties.drop('index', axis=1)

In [30]:
parties

,date,Theresa May,Jeremy Corbyn,Tim Farron,Caroline Lucas and Jonathan Bartley,Nicola Sturgeon,Paul Nuttall
0,2017-04-18,100,13,8,1,5,0
1,2017-04-19,38,10,10,0,4,0
2,2017-04-20,17,15,4,0,3,0
3,2017-04-21,12,9,2,0,2,0
4,2017-04-22,11,8,1,0,2,0
5,2017-04-23,10,12,3,0,1,1
6,2017-04-24,8,8,3,0,2,2
7,2017-04-25,8,5,4,0,2,0
8,2017-04-26,10,7,3,0,1,0
9,2017-04-27,8,9,2,0,1,0
10,2017-04-28,7,5,1,0,1,1
11,2017-04-29,8,6,1,0,1,3
12,2017-04-30,18,5,2,0,1,0
13,2017-05-01,17,4,1,0,1,0
14,2017-05-02,16,4,1,0,1,0
15,2017-05-03,20,4,3,0,1,0
16,2017-05-04,14,4,1,0,1,0
17,2017-05-05,11,7,1,0,2,1
18,2017-05-06,9,6,1,0,2,0
19,2017-05-07,8,4,1,0,1,0
20,2017-05-08,9,6,2,0,1,0
21,2017-05-09,22,13,1,0,1,0
22,2017-05-10,15,8,1,0,1,0
23,2017-05-11,10,9,1,0,1,1
24,2017-05-12,13,12,1,0,1,0
25,2017-05-13,9,7,0,0,1,0
26,2017-05-14,8,8,1,0,2,0
27,2017-05-15,18,13,1,0,2,0
28,2017-05-16,10,17,1,0,1,0
29,2017-05-17,9,8,3,0,2,0
30,2017-05-18,15,8,3,3,2,2
31,2017-05-19,13,9,1,1,2,1
32,2017-05-20,13,11,1,0,1,0
33,2017-05-21,17,17,1,0,2,0

In [41]:
fparties = parties[parties.date > '2017-04-18']

In [42]:
fparties

,date,Theresa May,Jeremy Corbyn,Tim Farron,Caroline Lucas and Jonathan Bartley,Nicola Sturgeon,Paul Nuttall
1,2017-04-19,38,10,10,0,4,0
2,2017-04-20,17,15,4,0,3,0
3,2017-04-21,12,9,2,0,2,0
4,2017-04-22,11,8,1,0,2,0
5,2017-04-23,10,12,3,0,1,1
6,2017-04-24,8,8,3,0,2,2
7,2017-04-25,8,5,4,0,2,0
8,2017-04-26,10,7,3,0,1,0
9,2017-04-27,8,9,2,0,1,0
10,2017-04-28,7,5,1,0,1,1
11,2017-04-29,8,6,1,0,1,3
12,2017-04-30,18,5,2,0,1,0
13,2017-05-01,17,4,1,0,1,0
14,2017-05-02,16,4,1,0,1,0
15,2017-05-03,20,4,3,0,1,0
16,2017-05-04,14,4,1,0,1,0
17,2017-05-05,11,7,1,0,2,1
18,2017-05-06,9,6,1,0,2,0
19,2017-05-07,8,4,1,0,1,0
20,2017-05-08,9,6,2,0,1,0
21,2017-05-09,22,13,1,0,1,0
22,2017-05-10,15,8,1,0,1,0
23,2017-05-11,10,9,1,0,1,1
24,2017-05-12,13,12,1,0,1,0
25,2017-05-13,9,7,0,0,1,0
26,2017-05-14,8,8,1,0,2,0
27,2017-05-15,18,13,1,0,2,0
28,2017-05-16,10,17,1,0,1,0
29,2017-05-17,9,8,3,0,2,0
30,2017-05-18,15,8,3,3,2,2
31,2017-05-19,13,9,1,1,2,1
32,2017-05-20,13,11,1,0,1,0
33,2017-05-21,17,17,1,0,2,0

In [43]:
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go
import cufflinks as cf

In [44]:
p = [o for o in fparties.columns if o <> 'date']

In [45]:
p

['Theresa May',
 'Jeremy Corbyn',
 'Tim Farron',
 'Caroline Lucas and Jonathan Bartley',
 'Nicola Sturgeon',
 'Paul Nuttall']

In [46]:
pc = {'Theresa May': "('rgb(0,135,220)')",
    'Jeremy Corbyn': "('rgb(146,0,13)')",
    'Tim Farron': "('rgb(250,166,26)')",
    'Caroline Lucas and Jonathan Bartley': "('rgb(0,116,95)')",
    'Nicola Sturgeon': "('rgb(255,249,93)')",
    'Paul Nuttall': "('rgb(183,0,157)')"}

In [47]:
fig = {
    'data': [
        { 'x': fparties.date,
         'y': fparties[pp],
         'name':pp,
         'mode': 'lines',
         'line': {
             'color': pc [pp]
         }
         } for pp in p
    ]
}

In [48]:
layout = go.Layout(
    plot_bgcolor='rgb(255,255,255)')
    
py.iplot(fig, layout=layout)
#parties.iplot(layout=layout, kind='scatter', colors=['blue', 'red', 'yellow', 'green', 'orange', 'purple'])

In [355]:
trace_con = Bar(x=parties.index,
                  y=parties['Conservative Party'],
                  name='Conservatives',
                  marker=dict(color='rgb(40, 24, 248)'))

trace_lab = Bar(x=parties.index,
                y=parties['Labour Party'],
                name='Labour',
                marker=dict(color='rgb(252, 20, 20)'))

trace_lib = Bar(x=parties.index,
                y=parties['Liberal Democrats'],
                name='Lib Dems',
                marker=dict(color='rgb(246, 246, 26)'))

trace_gre = Bar(x=parties.index,
                y=parties['Green Party'],
                name='Green Party',
                marker=dict(color='rgb(26, 154, 29)'))

trace_snp = Bar(x=parties.index,
                y=parties['Scottish National Party'],
                name='SNP',
                marker=dict(color='rgb(238, 132, 16)'))

trace_uki = Bar(x=parties.index,
                y=parties['UK Independence Party'],
                name='UKIP',
                marker=dict(color='rgb(133, 52, 240)'))

data = [trace_con, trace_lab, trace_lib, trace_gre, trace_snp, trace_uki]

layout = Layout(title="Parties Popularity - Google Trends",
                xaxis=dict(title='Date'),
                yaxis=dict(title='Relative number of searches per party'))

fig = Figure(data=data, layout=layout)

py.iplot(fig)

In [359]:
niparties = parties.reset_index()

In [360]:
niparties

,date,Conservative Party,Labour Party,Liberal Democrats,Green Party,Scottish National Party,UK Independence Party
0,2017-04-18,100,19,23,6,12,4
1,2017-04-19,42,14,19,4,10,3
2,2017-04-20,23,18,10,5,8,3
3,2017-04-21,17,12,8,4,6,2
4,2017-04-22,15,11,6,3,6,3
5,2017-04-23,15,14,7,3,6,5
6,2017-04-24,12,10,7,4,6,6
7,2017-04-25,13,8,8,4,6,3
8,2017-04-26,15,10,7,4,6,2
9,2017-04-27,13,11,5,5,5,2
10,2017-04-28,11,6,4,3,5,3
11,2017-04-29,11,7,4,3,5,4
12,2017-04-30,20,6,4,3,5,2
13,2017-05-01,20,7,3,4,5,2
14,2017-05-02,20,7,4,4,5,2
15,2017-05-03,25,8,7,5,6,2
16,2017-05-04,19,9,7,7,7,3
17,2017-05-05,21,11,6,6,12,12
18,2017-05-06,13,8,4,4,8,4
19,2017-05-07,14,8,3,3,5,2
20,2017-05-08,16,9,6,5,6,3
21,2017-05-09,27,16,5,6,5,2
22,2017-05-10,21,11,4,8,6,2
23,2017-05-11,16,12,5,5,5,3
24,2017-05-12,19,14,7,4,6,2
25,2017-05-13,14,10,4,3,4,2
26,2017-05-14,13,10,4,3,5,2
27,2017-05-15,23,16,5,4,6,2
28,2017-05-16,16,22,6,3,5,2
29,2017-05-17,17,12,14,4,6,2
30,2017-05-18,27,12,11,7,7,5
31,2017-05-19,22,13,7,6,6,4

In [368]:
from pandas.tseries.frequencies import to_offset

In [379]:
niparties['date'] = pd.to_datetime(niparties['date'])

In [384]:
niparties.index = niparties['date']

In [390]:
rparties = niparties.resample('7D').sum()

In [670]:
rparties

,Conservative Party,Labour Party,Liberal Democrats,Green Party,Scottish National Party,UK Independence Party
date,,,,,,
2017-04-18,224,98,80,29,54,26
2017-04-25,103,55,35,26,37,18
2017-05-02,128,60,37,34,49,28
2017-05-09,133,89,34,33,37,15
2017-05-16,82,59,38,20,24,13

In [674]:
testparties = rparties.reset_index()

In [676]:
testparties

,date,Conservative Party,Labour Party,Liberal Democrats,Green Party,Scottish National Party,UK Independence Party
0,2017-04-18,224,98,80,29,54,26
1,2017-04-25,103,55,35,26,37,18
2,2017-05-02,128,60,37,34,49,28
3,2017-05-09,133,89,34,33,37,15
4,2017-05-16,82,59,38,20,24,13

In [490]:
uparties = rparties.unstack()

In [558]:
uparties

                         date
Conservative Party       2017-04-18    224
                         2017-04-25    103
                         2017-05-02    128
                         2017-05-09    133
                         2017-05-16     82
Labour Party             2017-04-18     98
                         2017-04-25     55
                         2017-05-02     60
                         2017-05-09     89
                         2017-05-16     59
Liberal Democrats        2017-04-18     80
                         2017-04-25     35
                         2017-05-02     37
                         2017-05-09     34
                         2017-05-16     38
Green Party              2017-04-18     29
                         2017-04-25     26
                         2017-05-02     34
                         2017-05-09     33
                         2017-05-16     20
Scottish National Party  2017-04-18     54
                         2017-04-25     37
                         2017-05-02     49
                         2017-05-09     37
                         2017-05-16     24
UK Independence Party    2017-04-18     26
                         2017-04-25     18
                         2017-05-02     28
                         2017-05-09     15
                         2017-05-16     13
dtype: int32

In [559]:
urparty = DataFrame(uparties).reset_index()

In [560]:
urparty

                    level_0       date    0
0        Conservative Party 2017-04-18  224
1        Conservative Party 2017-04-25  103
2        Conservative Party 2017-05-02  128
3        Conservative Party 2017-05-09  133
4        Conservative Party 2017-05-16   82
5              Labour Party 2017-04-18   98
6              Labour Party 2017-04-25   55
7              Labour Party 2017-05-02   60
8              Labour Party 2017-05-09   89
9              Labour Party 2017-05-16   59
10        Liberal Democrats 2017-04-18   80
11        Liberal Democrats 2017-04-25   35
12        Liberal Democrats 2017-05-02   37
13        Liberal Democrats 2017-05-09   34
14        Liberal Democrats 2017-05-16   38
15              Green Party 2017-04-18   29
16              Green Party 2017-04-25   26
17              Green Party 2017-05-02   34
18              Green Party 2017-05-09   33
19              Green Party 2017-05-16   20
20  Scottish National Party 2017-04-18   54
21  Scottish National Party 2017-04-25   37
22  Scottish National Party 2017-05-02   49
23  Scottish National Party 2017-05-09   37
24  Scottish National Party 2017-05-16   24
25    UK Independence Party 2017-04-18   26
26    UK Independence Party 2017-04-25   18
27    UK Independence Party 2017-05-02   28
28    UK Independence Party 2017-05-09   15
29    UK Independence Party 2017-05-16   13

In [561]:
uparties_col = ['Party', 'Date', 'Searches']
urparty.columns = uparties_col

In [570]:
urparty.set_index(['Party'])

                              Date  Searches
Party
Conservative Party      2017-04-18       224
Conservative Party      2017-04-25       103
Conservative Party      2017-05-02       128
Conservative Party      2017-05-09       133
Conservative Party      2017-05-16        82
Labour Party            2017-04-18        98
Labour Party            2017-04-25        55
Labour Party            2017-05-02        60
Labour Party            2017-05-09        89
Labour Party            2017-05-16        59
Liberal Democrats       2017-04-18        80
Liberal Democrats       2017-04-25        35
Liberal Democrats       2017-05-02        37
Liberal Democrats       2017-05-09        34
Liberal Democrats       2017-05-16        38
Green Party             2017-04-18        29
Green Party             2017-04-25        26
Green Party             2017-05-02        34
Green Party             2017-05-09        33
Green Party             2017-05-16        20
Scottish National Party 2017-04-18        54
Scottish National Party 2017-04-25        37
Scottish National Party 2017-05-02        49
Scottish National Party 2017-05-09        37
Scottish National Party 2017-05-16        24
UK Independence Party   2017-04-18        26
UK Independence Party   2017-04-25        18
UK Independence Party   2017-05-02        28
UK Independence Party   2017-05-09        15
UK Independence Party   2017-05-16        13

In [574]:
gf.groups

{'Conservative Party': Int64Index([0, 1, 2, 3, 4], dtype='int64'),
 'Green Party': Int64Index([15, 16, 17, 18, 19], dtype='int64'),
 'Labour Party': Int64Index([5, 6, 7, 8, 9], dtype='int64'),
 'Liberal Democrats': Int64Index([10, 11, 12, 13, 14], dtype='int64'),
 'Scottish National Party': Int64Index([20, 21, 22, 23, 24], dtype='int64'),
 'UK Independence Party': Int64Index([25, 26, 27, 28, 29], dtype='int64')}

In [575]:
gf.head()

                      Party       Date  Searches
0        Conservative Party 2017-04-18       224
1        Conservative Party 2017-04-25       103
2        Conservative Party 2017-05-02       128
3        Conservative Party 2017-05-09       133
4        Conservative Party 2017-05-16        82
5              Labour Party 2017-04-18        98
6              Labour Party 2017-04-25        55
7              Labour Party 2017-05-02        60
8              Labour Party 2017-05-09        89
9              Labour Party 2017-05-16        59
10        Liberal Democrats 2017-04-18        80
11        Liberal Democrats 2017-04-25        35
12        Liberal Democrats 2017-05-02        37
13        Liberal Democrats 2017-05-09        34
14        Liberal Democrats 2017-05-16        38
15              Green Party 2017-04-18        29
16              Green Party 2017-04-25        26
17              Green Party 2017-05-02        34
18              Green Party 2017-05-09        33
19              Green Party 2017-05-16        20
20  Scottish National Party 2017-04-18        54
21  Scottish National Party 2017-04-25        37
22  Scottish National Party 2017-05-02        49
23  Scottish National Party 2017-05-09        37
24  Scottish National Party 2017-05-16        24
25    UK Independence Party 2017-04-18        26
26    UK Independence Party 2017-04-25        18
27    UK Independence Party 2017-05-02        28
28    UK Independence Party 2017-05-09        15
29    UK Independence Party 2017-05-16        13

In [573]:
parties = ['Conservative Party', 'Labour Party', 'Liberal Democrats', 'Green Party', 'Scottish National Party', 'UK Independence Party']
fill_colors = ['#66c2a5', '#fc8d62', '#8da0cb', '#e78ac3', '#a6d854', '#66c2a5']
gf = urparty.groupby('Party')

data = []

for party, fill_color in zip(urparty[::-1], fill_colors):
    group = gf.get_group(party)
    days = group['Date'].tolist()
    length = len(days)
    party_coords = [party] * length
    searches = group['Searches'].tolist()
    zeros = [0] * length
    
    data.append(dict(
        type='scatter3d',
        mode='lines',
        x=days + days[::-1] + [days[0]],  # year loop: in incr. order then in decr. order then years[0]
        y=party_coords * 2 + [party_coords[0]],
        z=searches + zeros + [searches[0]],
        name='',
        surfaceaxis=1, # add a surface axis ('1' refers to axes[1] i.e. the y-axis)
        surfacecolor=fill_color,
        line=dict(
            color='black',
            width=4
        ),
    ))

layout = dict(
    title='Relative number of searches per party',
    showlegend=False,
    scene=dict(
        xaxis=dict(title=''),
        yaxis=dict(title=''),
        zaxis=dict(title=''),
        camera=dict(
            eye=dict(x=-1.7, y=-1.7, z=0.5)
        )
    )
)

fig = dict(data=data, layout=layout)
py.iplot(fig)

KeyError: 'Party'

In [539]:
aparties

Conservative Party         134.0
Labour Party                72.2
Liberal Democrats           44.8
Green Party                 28.4
Scottish National Party     40.2
UK Independence Party       20.0
dtype: float64

In [436]:
aparties = rparties.mean()

In [438]:
DataFrame(aparties)

                             0
Conservative Party       134.0
Labour Party              72.2
Liberal Democrats         44.8
Green Party               28.4
Scottish National Party   40.2
UK Independence Party     20.0

In [391]:
trace_con = Bar(x=rparties.index,
                  y=rparties['Conservative Party'],
                  name='Conservatives',
                  marker=dict(color='rgb(40, 24, 248)'))

trace_lab = Bar(x=rparties.index,
                y=rparties['Labour Party'],
                name='Labour',
                marker=dict(color='rgb(252, 20, 20)'))

trace_lib = Bar(x=rparties.index,
                y=rparties['Liberal Democrats'],
                name='Lib Dems',
                marker=dict(color='rgb(246, 246, 26)'))

trace_gre = Bar(x=rparties.index,
                y=rparties['Green Party'],
                name='Green Party',
                marker=dict(color='rgb(26, 154, 29)'))

trace_snp = Bar(x=rparties.index,
                y=rparties['Scottish National Party'],
                name='SNP',
                marker=dict(color='rgb(238, 132, 16)'))

trace_uki = Bar(x=rparties.index,
                y=rparties['UK Independence Party'],
                name='UKIP',
                marker=dict(color='rgb(133, 52, 240)'))

data = [trace_con, trace_lab, trace_lib, trace_gre, trace_snp, trace_uki]

layout = Layout(title="Parties Popularity - Google Trends",
                xaxis=dict(title='Date'),
                yaxis=dict(title='Relative number of searches per party'))

fig = Figure(data=data, layout=layout)

py.iplot(fig)

In [545]:
import plotly.plotly as py
import plotly.graph_objs as go